<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dhbin.isme.pms.mapper.HiSrvOrgMapper">

    <resultMap id="getResult" type="cn.dhbin.isme.pms.domain.dto.SrvOrgResponse">
        <collection property="srvOrgDetails" javaType="ArrayList"
                    column="id_srv" ofType="cn.dhbin.isme.pms.domain.dto.SrvOrgDetail" select="getBdSrvDetail"/>
    </resultMap>

    <select id="getBdSrv" resultMap="getResult">
        SELECT cd item , na text, id_srv FROM  hi_bd_srv
        WHERE
        fg_active = '1' AND (SD_SRVTP_CD LIKE '21%' OR SD_SRVTP_CD LIKE '22%')
        <choose>
            <when test="itemCodeReq!=null and itemCodeReq!=''">
                AND cd = #{itemCodeReq}
            </when>
            <when test="itemNameReq!=null and itemNameReq!=''">
                AND na like #{itemNameReq}
            </when>
        </choose>
        <if test="endNum!='0' and beginNum &lt;= endNum">
            OFFSET (#{beginNum} - 1 ) * #{endNum}   ROWS FETCH NEXT #{endNum} ROWS ONLY
        </if>
    </select>

    <select id="getBdSrvDetail" resultType="cn.dhbin.isme.pms.domain.dto.SrvOrgDetail">
        SELECT x2.ID_SRV_SET ID_SRV, X3.CD ItemCode, X3.NA ItemName, x4.pri Price, x2.VAL_UNITMED Num,x3.UNIT_SRV_MED Unit
                          FROM HI_BD_SRV_SET  x2, hi_bd_srv x3 ,HI_BD_SRVPRI x4
                          WHERE x2.id_srv  = x3.id_srv  and x2.id_srv= x4.id_srv
            and x2.id_srv_set = #{id_srv}
    </select>

</mapper>
